body {
	background-color: #FFECAA;
    color: #29261B;
    font-size: 7.5mm;
    font-family: cursive;
    margin: 0;
}
section.menu {
	ul {
		list-style-type: none;
		margin: 0;
		padding: .25em;
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		li {
			padding: .25em;
		}
	}
}
section.menu.lang {
	text-align: center;
	ul {
		li {
			a {
				text-decoration: none;
				display: flex;
				align-items: center;
				width: max-content;
				img {
					height: 1.5em;
					padding-right: .25em;
				}
			}
			a:hover {
				text-decoration: underline;
			}
			a.disabled {
				pointer-events: none;
				color: inherit;
				text-decoration: underline;
				img {
					filter: grayscale(100%);
				}
			}
		}
	}
}
section.menu.main {
	input[type="button"] {
		font-size: 1em;
		font-weight: bold;
		border-radius: .2em;
		background-color: #29261B;
		color: #FFECAA;
		border-width: .1em;
	}
	input[type="button"]:hover {
		text-decoration: underline;
		background-color: #FFECAA;
		color: #29261B;
		border-color: #DECD94;
	}
	input[type="button"].disabled {
		text-decoration: none;
        background-color: #D0D0D0;
        border-color: #E0E0E0;
        color: #F0F0F0;
        pointer-events: none;
	}
	input[type="button"].selected {
		text-decoration: underline;
        border: inset;
        border-width: .1em;
        background-color: #FFECAA; 
        color: #29261B;
        border-color: #DECD94;
        pointer-events: none;
	}
}
section#welcome {
	height: -webkit-fill-available;
	overflow-y: overlay;
	padding: 0 .5em .5em .5em;
	position: fixed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	margin: 0;
	padding: .25em;
}
h1 {
	font-size: 1.15em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: 1.075em;
}
h5 {
	font-size: 1.05em;
}
h6 {
	font-size: 1.025em;
}
p {
	text-align: justify;
	text-indent: 2em;
	margin: 0;
}
@media (max-width: 425.9px) {
	section.menu.main {
		text-align: center;
	}
}
@media (min-width: 426px) and (max-width: 768.9px) {
	section.menu.main {
        width: fit-content;
        position: fixed;
        height: -webkit-fill-available;
        display: flex;
        align-items: center;
        rotate: -90deg;
        translate: -42.5%;
        ul {
        	flex-direction: row-reverse;
        	width: 72.7vh;
        	height: 0;
        	position: fixed;
        	translate: -50%;
		}
	}
	:lang(pt-BR) {
		@media (max-height: 332.9px) {
			section#welcome {
				left: 5.5em;
			}
		}
		@media (min-height: 333px) and (max-height: 607.9px) {
			section#welcome {
				left: 3.5em;
			}
		}
		@media (min-height: 608px) {
			section#welcome {
				left: 1.5em;
			}
		}
	}
	:lang(en-US) {
		@media (max-height: 325.9px) {
			section#welcome {
				left: 5.5em;
			}
		}
		@media (min-height: 326px) and (max-height: 538.9px) {
			section#welcome {
				left: 3.5em;
			}
		}
		@media (min-height: 539px) {
			section#welcome {
				left: 1.5em;
			}
		}
	}
}
@media (min-width: 769px) {
	section.menu.main {
        width: 0;
        position: fixed;
        height: -webkit-fill-available;
        display: flex;
        align-items: center;
        ul {
        	li {
        		width: -webkit-fill-available;
        		input[type="button"] {
        			width: -webkit-fill-available;
        		}
        	}
        }
	}
	section#welcome:lang(pt-BR) {
        left: 7.1em;
	}
	section#welcome:lang(en-US) {
        left: 5.5em;
	}
}
