body {
	background-color: #FFECAA;
    color: #29261B;
    font-size: 5mm;
    font-family: cursive;
    margin: 0;
}
section.menu {
	ul {
		list-style-type: none;
		margin: 0;
		padding: .25em;
		li {
			padding: .25em;
		}
	}
}
section.menu.lang {
	text-align: center;
	ul {
		li {
			display: inline-flex;
			a {
				text-decoration: none;
				display: inline-flex;
				align-items: center;
				width: max-content;
				img {
					height: 1.5em;
					padding-right: .25em;
				}
			}
			a:hover {
				text-decoration: underline;
			}
			a.disabled {
				pointer-events: none;
				color: inherit;
				text-decoration: underline;
				img {
					filter: grayscale(100%);
				}
			}
		}
	}
}
section.menu.main {
	input[type="button"] {
		font-size: 1em;
		font-weight: bold;
		border-radius: .2em;
		background-color: #29261B;
		color: #FFECAA;
		border-width: .1em;
	}
	input[type="button"]:hover {
		text-decoration: underline;
		background-color: #FFECAA;
		color: #29261B;
		border-color: #DECD94;
	}
	input[type="button"].disabled {
		text-decoration: none;
        background-color: #D0D0D0;
        border-color: #E0E0E0;
        color: #F0F0F0;
        pointer-events: none;
	}
	input[type="button"].selected {
		text-decoration: underline;
        border: inset;
        border-width: .1em;
	}
}
section#welcome {
	height: -webkit-fill-available;
	overflow-y: overlay;
	padding: 0 .5em .5em .5em;
	position: fixed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	margin: 0;
	padding: .25em;
}
h1 {
	font-size: 1.15em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: 1.075em;
}
h5 {
	font-size: 1.05em;
}
h6 {
	font-size: 1.025em;
}
p {
	text-align: justify;
	text-indent: 2em;
	margin: 0;
}
@media (max-width: 425.9px) {
	section.menu.main {
		text-align: center;
		ul {
			li {
				display: contents;
			}
		}
	}
}
@media (min-width: 426px) and (max-width: 768.9px) {
	section.menu.main {
        width: fit-content;
        position: fixed;
        height: -webkit-fill-available;
        display: flex;
        align-items: center;
        rotate: 90deg;
        translate: -42.5%;
        ul {
			li {
				display: contents;
				input[type="button"] {
					transform: rotate(-180deg);
				}
			}
		}
	}
	section#welcome {
		left: 1.9em;
	}
}
@media (min-width: 769px) {
	section.menu.main {
        width: fit-content;
        position: fixed;
        height: -webkit-fill-available;
        display: flex;
        align-items: center;
		ul {
			li {
				width: 6.8em;
				input[type="button"] {
					width: -webkit-fill-available;
				}
			}
		}
	}
	section#welcome {
        left: 7.3em;
	}
}